.cmn-alert{
	@include border-radius(3px);
	color: #2c2c2c;
	padding: 12px 45px 12px 20px;
	position: relative;
	font-size: $font-size-sm; 
	margin-bottom: 32px;
	strong{
		font-weight:$font-weight-medium;
		margin-bottom: 3px;
	}
	a{
		color: #2c2c2c;
		text-decoration: underline;
	}
}
.error-alert{
	background: #fdd3d1;
}
.success-alert{
	background: #c7ede1;
}
.warning-alert{
	background: #f8f2c6;
}
.notifcation-alert{
	background: #ffcc3d; 
}
.expiring-alert{
	background: #5cb6ef;  
}
.close-alert{
	width: 15px;
  height: 15px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
} 