.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;   
	background: color("white");
	z-index: 10;
	border-bottom: 2px solid #eef0f0;
	padding: 0 15px;
	/*padding-top: 12px;*/
	a{
		color: $body-color;
		padding: 0 32px;
		@include media-breakpoint-up(lg) {
				padding: 0 20px;
		}
		@include media-breakpoint-up(xxl) {
				padding: 0 32px;
		}
	}
	.btn{
		color: color("white");
		padding: 0px .75rem;
		font-size: $font-size-sm;
		/*min-height: 34px;*/
	}
	.left, .right{
		display: flex;
		align-items: center;
		min-height: 60px;
	}
	.right{
		justify-content: space-between;
	}
	.logo{
		max-width: 174px;
		width: 100%;
		@include media-breakpoint-up(lg) {
			margin-right: 20px;		
		}
		@include media-breakpoint-up(xxl) {
				margin-right: 33px;		
		}
		img{
			max-width: 100%
		}
	}
	.logo-mb{
		width: 20px;
		/*@include media-breakpoint-up(lg) {
			display: none;
		}*/
	}
	/*.logo-web{
		display: none;
		@include media-breakpoint-up(lg) {
				display: block;
		}
	}*/
	.logo-web{
		
	}
	.header-nav{
		width: 100%;
	}
	ul{
		display: flex;
		align-items: center;
		li{
			&.active{ 
				.drp-dwn-hdr{
					visibility: visible;
							opacity: 1;
							@include scale(1);
							-webkit-transition-delay: 0s;
							-moz-transition-delay: 0s;
							transition-delay: 0s;
				}
			}
		
	
		}
	}
	.dots{
		font-size: 6px;
		position: relative;
    top: -2px;
		@include media-breakpoint-up(lg) {
			font-size: 5px;	
		}
		i{
			margin: 0 1px;
		}
	}
	.search-cntr{
		position: relative;
		margin-left: 15%;
		i{
			position: absolute;
			left: 11px;
    	top: 5px;
			opacity: 0.4;
			img{
				width: 14px;
			}
		}
		.form-control{
			height: 34px;
			@include border-radius(3px);
		}
	}
	.header-wb{
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
		.user-img{
			a{
				padding-left: 15px;
			}
			
		}
		.notification-icn{
			font-size: 1.2rem;
			a{
				padding-right: 15px;
			}
		}
	}
	.header-mb{
		/*padding: 0 15px;*/
		.left{
			min-height: 50px;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
		ul{
			justify-content: space-between;
			li{
				a{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
		.dots{
			padding-right: 0;	
		}
	}
	
		.user-img{
		
			img{
				width: 20px;
				@include media-breakpoint-up(lg) {
					width: 32px;		
				}
				
			}
		}
		.notification-icn{
			font-size: 1.2rem;
			
		}
	
	.logedin{
		.search-cntr{
			margin-left: 0;
		}
		.right{
			justify-content: flex-end;
		}
	}
}
.drp-dwn-hdr{
	position: absolute;
	width: 200px;
	flex-direction: column; 
	@include border-radius(2px);
	background: $black;
	top: 71px;
	@include box-shadow(1px 1px 8px 0 rgba(0, 0, 0, 0.4));
	@include transition(all 0.3s cubic-bezier(0.3, 1.61, 0.5, 1));
		@include scale(0);
		-webkit-transform-origin: center -10px;
		transform-origin: center -10px;
	opacity: 0;
	visibility: hidden;
	li{
		width: 100%;
		a{
			padding: 10px 20px;
			display: block;
			color: color("white");
			text-align: left;
			&:hover{
				background: #3a3a3a;
			}
			&.upgrade{
				background: color("green");
			}
		}
	}
}
.signin-header{
	@include media-breakpoint-up(lg) {
			display: none;
	}
}
.mob-inner-nav{
	background: color("white");
	position: fixed;
	width: 100%;
	top: 52px;
	/*left: auto;*/
	right: 0;
	height: calc(100% - 52px);
	z-index: 10;
	padding: 15px 15px;
	/*@include transition(all 2s ease-in-out);*/
	/*display: none;*/
	.top-head-wrp{
		display: flex;
		justify-content: space-between;
		margin-bottom: 27px;
		.back{
			a{
				padding: 0;
			}
		}
		.menu-title{
			font-size: $font-size-base;
		}
		.cls{
			a{
				padding: 0;
			}
			img{
				width: 15px;
			}
		}
	}
	.menu-list{
		font-size: $font-size-base;
		display: block;
		li{
			margin-bottom: 24px;
			a{
				padding: 0;
				&.upload-btn{
					@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
					font-size: $font-size-sm;
					width: 100%;
					padding-top: 0;
					padding-bottom: 0;
					line-height: 38px;
				}
				i{
					float: right;
					img{
						width: 8px;
					}
				}
			}
		}
	}
	&.main{
		@include transition(all 0.3s ease-in-out);
		.top-head-wrp{
			justify-content: flex-end;
		}
	}
	&.mob-active{
		display: block;
	}
	&.sub-hide{
		/*left: auto;*/
		right: 100%;
		@include transition(all 1s ease-in-out);
	}
	&.sub{
		@include transition(all 0.5s ease-in-out);
		left: 100%;
		&.sub-active{
			left: 0;
		}
	}
}
