
.profile-info-top{
	/*display: flex;*/
	position: relative;
	.img{
		@include border-radius(50%);
		overflow: hidden;
		min-width: 90px;
		height: 90px;
		width: 90px;
		background: #eef0f0 url(../images/temp/logo.svg) no-repeat center;
		background-size: 26px;
		/*float: left;
		margin-right: 20px;*/
		position: absolute;
		left: 0;
		top: 0;
		@include media-breakpoint-up(md) {
			min-width: 164px;
			height: 164px;
			width: 164px;
			margin-right: 30px;
			background-size: 44px;
		}
	}
	.txt{
		/*padding-left: 20px;
		
		@include media-breakpoint-up(md) {
			
			padding-left: 30px;
		}*/
		padding-left: 110px;
		min-height: 90px;
		@include media-breakpoint-up(md) {
			padding-left: 194px;
			min-height: 0;
		}
		.title{
			margin-bottom: 10px;
			font-size: 1.125rem;
			@include media-breakpoint-up(md) {
				font-size: $h3-font-size;
				margin-bottom: 17px;
			}
		}
		.web-id{
			color: gray("400");
			font-size: $font-size-sm;
			@include media-breakpoint-up(md) {
				font-size: 1.125rem;
				margin-bottom: 14px;
			}
			span{
				display: block;
				word-break: break-all;
				@include media-breakpoint-up(md) {
					display: inline-block;
					padding-right: 30px;
				}
				
			}
			a{
				color: gray("400");
				&:hover{
					color:color("green");
				}
			}
		}
		
	}
	.profile-info-cnt{
		margin-bottom: 30px;
		float: left;
		width: 100%;
		padding-top: 30px;
		@include media-breakpoint-up(md) {
			padding-top: 0;
			margin-bottom: 96px;	
			padding-left: 194px;
			float: none;
		}
		h5{
			font-size: $font-size-sm;
			max-width: 750px;
			@include media-breakpoint-up(md) {
					font-size: 1.125rem;
			}
		}
		.readmore{
			color: $body-color;
			&:hover{
				color: color("green");
			}
		}
		.btn-cntr{
			display: flex;
			margin-top: 23px;
			li{
				margin-right: 10px;
				display: flex;
    		align-items: center;
				&:last-child{
					margin-right: 0;
				}
				.btn{
					/*line-height: 1.8;*/
				}
			}
			.bookmark-btn{
				min-width: auto;
				img{
					width: 11px;
					max-width: none;
				}
			}
			.dots{
				color: $secondary;
				font-size: 6px;
				margin-left: 10px;
				@include media-breakpoint-up(md) {
					margin-left: 20px;
				}
				i{
					margin-right: 2px;
				}
			}
		}
	}
}
.photo-eassays-cnt{
	.img-box{
		margin-bottom: 30px;
		img{
			width: 100%;
		}
		.inner{
			border: 1px solid #eef0f0;
			@include transition();
			&:hover{
				@include box-shadow(1px 1px 8px 0 rgba(0, 0, 0, 0.16)); 
			}
		}
	}
	.content{
		display: flex;
		font-size: $font-size-xsm;
		align-items: center;
		padding: 16px 18px;
		border-top:0;
		.user{
			img{
				cursor: pointer;
				&:hover{
					opacity: 0.7;
				}
			}
		}
		h3{
			font-size: $font-size-xsm;
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-medium;
			margin-bottom: 0;
			a{
				color: $body-color;
				&:hover{
					color: color("green");
				}
			}
		}
		.txt{
			padding-left: 14px;
			width: 100%;
		}
		figure{
			min-width: 48px;
			width: 48px;
			height: 48px;
			@include border-radius(50%);
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		span{
			color: #c4c4ba;
		}
		.left{
			a{
				color: $body-color;
				&:hover{
					color: color("green");
				}
			}
		}
		.right{
			color: gray("400");
			text-align: right;
		}
	}
}
.profile-tab-area{
	overflow-x: auto;
	margin-bottom: 23px;
	.nav-tabs{
		margin-bottom: 0;
		padding-bottom: 20px;
		a{
			white-space: nowrap;
		}
	}
}
.followers-list{
	li{
		margin-bottom: 20px;
		@include media-breakpoint-up(md) {
			margin-bottom: 32px;		
		}
		.box{
			border: 1px solid #eef0f0;
			padding: 16px 18px;
			display: flex;
			@include transition();
			@include media-breakpoint-up(md) {
				padding: 16px 18px;	
			}
			&:hover{
				@include box-shadow(1px 1px 8px 0 rgba(0, 0, 0, 0.16)); 
			}
			
		}
		.left{
			display: flex;
			align-items: center;
			width: 70%
		}
		.right{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 30%;
		}
		.txt{
			padding-left: 14px;
			color: #c4c4ba;
			font-size: $font-size-xsm;
			h6{
				margin-bottom: 0;
				font-size: $font-size-xsm;
				color:$body-color;
				font-weight: $font-weight-medium;
				font-family: $font-family-sans-serif;
				a{
					color:$body-color;
					&:hover{
						color:color("green");
					}
				}
			}
		}
	}
}
.empty-msg{
	padding-top: 65px; 
}
.photo-cnt{
	.grid-item { 
		width: 360px;
		padding: 15px;
	}
	.top-area{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 16px 19px;
		@include gradient-y(rgba(0,0,0,0.2), rgba(0,0,0,0), 0, 100%); 
		@include transition();
		transform: translateY(-60px);
		ul{
			float: right;
			right: 0px;
			position: relative;
			li{
				display: inline-block;
				margin-left: 8px;
				a{
					width: 64px;
					height: 26px;
					@include border-radius(2px);
					border: 1px solid $white;
					display: flex;
					color:color("white");
					font-size: $font-size-xsm;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	.bottom-area{
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		padding: 16px 19px;
		display: flex;
		@include gradient-y(rgba(0,0,0,0), rgba(0,0,0,0.2), 0, 100%); 
		@include transition();
		transform: translateY(60px);
	
		.left{
			display: flex;
			align-items: center;
			color: color("white");
			font-size: $font-size-xsm;
			width: 70%;
		}
		.img{
			width: 32px;
			height: 32px;
			@include border-radius(50%);
			overflow: hidden;
			margin-right: 10px;
		}
		.right{
			display: flex;
			width: 30%;
			justify-content: flex-end;
			align-items: center;
		}
		.likes{
			padding: 0px 11px;
			background: color("white");
			display: flex;
			height: 26px;
			min-width: 64px;
			justify-content: center;
			align-items: center;
			@include border-radius(2px);
			font-size: 11px;
			cursor: pointer;
			i{
				font-size:  $font-size-sm;
				margin-right: 10px;
				color: #f86a64;
			}
			&:hover{
				background:#f86a64;
				color:color("white");
				i{
					color:color("white");
				}
			}
		}
	}
	.inner-grid{
		overflow: hidden;
		position: relative;
		&:hover{
			.bottom-area{
				transform: translateY(0px);
			}
			.top-area{
				transform: translateY(0px);
			}
		}
	}
}
.modal{
	.sub-title-md{
		margin-bottom: 5px;
	}
	.info{
		.sub-title-md{
			margin-bottom: 0px;
		}
	}
	.find-else{
		.sub-title-md{
			margin-bottom: 10px;
		}
		ul{
			display: flex;
			li{
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
			}
			a{
				@include border-radius(50%);
				width: 30px;
				height: 30px;
				color: color("white");
				background: #4c4c4c;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
			}
		}
	}
	.user-cntr{
		align-items: center;
		display: flex;
		.img{
			@include border-radius(50%);
			width: 48px;
			height: 48px;
			min-width: 48px;
			overflow: hidden;
		}
		.txt{
			color:#c4c4ba;
			padding-left: 14px;
			font-size:  $font-size-xsm;
			h3{
				color: $body-color;
				margin-bottom: 0;
				text-transform: uppercase;
			}
		}
	}
	.avl-frl{
		font-size:  $font-size-xsm;
		padding-left: 62px;
		@include media-breakpoint-up(md) {
			padding-left: 0;	
		}
		span{
			width: 10px;
  		height: 10px;
			background: color("green");
			margin-right: 10px;
			display: inline-block;
		}
	}
	.modal-header{
		flex-direction: column;
    align-items: flex-start;
		padding-right: 45px;
		@include media-breakpoint-up(md) {
			flex-direction: row;
    	align-items: center;	
			padding-right: 97px;
		}
	}
}
