<div class="content-cntr innerpage">
  <section class="heading-top-cntr">
    <h1 class="title">Likes</h1>
    <h3 class="mb-4">
      These are photos that you have ‘liked’ on Shoot The Frame.
    </h3>
  </section>
  <app-alert></app-alert>
  <section class="profile-cnt-area">
    <div class="photo-cnt" *ngIf="userPhotos">
      <div class="image-items" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="pageChanged()" [scrollWindow]="true">
        <ng-masonry-grid class="grid" (onNgMasonryInit)="onNgMasonryInit($event)"
          (layoutComplete)="completeLayout($event)" *ngIf="userPhotos.length!=0" [masonryOptions]="{itemSelector: grid-item,initLayout:false,
             gutter: 30,horizontalOrder: false,
             percentPosition: true,
             transitionDuration: 0.10}" [useAnimation]="false" [useImagesLoaded]="false">
          <!-- Masonry Grid Item -->
          <ng-masonry-grid-item #container class="grid-item" id="{{'masonry-item-'+i}}"
            *ngFor="let item of userPhotos; let i = index;">
            <!-- Grid Content  -->
            <!-- [ngStyle]="{'height':addPixel(item.height,item.width)}" -->
            <div class="inner-grid" [ngStyle]="{'opacity':showOpacity[item.page]}">
              <div class="top-area">
                <app-stf-award-logo [item]='item' [type]="'web'"></app-stf-award-logo>
                <ul>
                  <li>
                    <a (click)="addCollections(item)" tooltipClass="tooltip-custom"
                      [ngbTooltip]="collection" container="body">Collect</a>
                  </li>
                  <li [hidden]="authUserDetails.id == item.user_id  || item.critique_status !== 0">
                    <a (click)="crticPopup(imageDetails,item,i)" tooltipClass="tooltip-custom"
                      [ngbTooltip]="critique" container="body">Critique</a>
                  </li>
                  <li>
                    <!-- <div class="dropdown option-dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" [ngbTooltip]="moreoptions">
                        <span></span>
                      </button>
                       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="inner-wrp">
                          <a class="dropdown-item" (click)="setCollectionCover(item.id)">Set to collection cover</a>
                          <a class="dropdown-item" (click)="removeCollectionPhoto(item.id)">Remove from collection</a>
                          <a class="dropdown-item">Edit photo</a>
                        </div>
                      </div>
                    </div> -->
                  </li>
                </ul>
                <div class="likes" tooltipClass="tooltip-custom" container="body"
                  [ngbTooltip]="item.like_status === 1 ? likeContent : unlikeContent"
                  [ngClass]="item.like_status === 1 ? 'active' : ''" (click)="likePhotos(i,item)"><i class="fa fa-heart"
                    aria-hidden="true"></i>
                  <span class="cnt"> {{nFormatter(item.like_count)}} </span></div>
              </div>
              <div class="bottom-area">
                <div (click)="showProfile(item.username)" class="left cursor">
                  <div class="img"><img src="{{item.user_photo}}" alt=""></div>
                  {{item.name}}
                </div>
                <div class="right">
                  <div class="likes" tooltipClass="tooltip-custom" container="body"
                    [ngbTooltip]="item.like_status === 1 ? likeContent : unlikeContent"
                    [ngClass]="item.like_status === 1 ? 'active' : ''" (click)="likePhotos(i,item)"><i
                      class="fa fa-heart" aria-hidden="true"></i>
                    <span class="cnt"> {{nFormatter(item.like_count)}} </span></div>
                  <app-stf-award-logo [item]='item' [type]="'mobile'"></app-stf-award-logo>

                </div>
              </div>
              <!-- <img (click)="openModal(imageDetails,item,i)" [defaultImage]="defaultImage" [lazyLoad]="item.media" [useSrcset]="false"
            [offset]="item.height"> -->
              <!-- <div [defaultImage]="defaultImage" [lazyLoad]="item.media" [offset]="offset"></div> -->
              <!-- src="{{ item.localmedia}}--glide?q=50" -->
              <div class="grid-image-outer" [ngStyle]="{'padding-bottom':addPixel(item),'position':'relative'}">
                <img (click)="openMasonryModal(imageDetails,item,i)" style="background-color:#E0E3E5"
                  sizes="(min-width: 1335px) 416px, (min-width: 992px) calc(calc(100vw - 72px) / 3), (min-width: 768px) calc(calc(100vw - 48px) / 2), 100vw"
                  src="{{ item.localmedia}}--glide?w=360&q=80" srcset="{{ item.localmedia}}--glide?w=360&fit=crop&q=80 100w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 200w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 300w,
                {{ item.localmedia}}--glide?w=400&fit=crop&q=80 400w,
                {{ item.localmedia}}--glide?w=500&fit=crop&q=80 500w,
                {{ item.localmedia}}--glide?w=1000&fit=crop&q=80 600w,
                {{ item.localmedia}}--glide?w=700&fit=crop&q=80 700w,
                {{ item.localmedia}}--glide?w=1000&fit=crop&q=80 800w,
                {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 900w,
                {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 1000w,
                {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 1100w,
                {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 1200w,
                {{ item.localmedia}}--glide?w=1296&fit=crop&q=80 1296w,
                {{ item.localmedia}}--glide?w=1800&fit=crop&q=80 1400w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 1600w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 1800w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2000w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2200w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2400w,
                {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2592w
                ">
              </div>
            </div>
          </ng-masonry-grid-item>
        </ng-masonry-grid>
        <app-pagination-loader *ngIf="showPaginationLoader"></app-pagination-loader>

      </div>
    </div>

    <ng-template #likeContent>Liked by you</ng-template>
    <ng-template #unlikeContent>Give a little love</ng-template>
    <ng-template #moreoptions>More options</ng-template>
    <ng-template #collection>Add to collection</ng-template>
    <ng-template #critique>Critique Photo</ng-template>

    <div *ngIf='userPhotos.length==0 && !showPaginationLoader' class="photo-eassays-cnt">
      <div class="empty-msg text-center">You haven’t liked any photos yet. Show a little love! <span
          class="text-danger">♥</span>
      </div>
    </div>
    <div *ngIf="emptyStatus==true && !showPaginationLoader" class="empty-msg text-center">
      <p>No more results 🙃</p>
    </div>
  </section>
</div>

<ng-template #readMoreContent class="modal-md" let-modal>
  <div class="modal-content">
    <div class="inner-modal">
      <div class="modal-header">
        <h3 class="modal-title text-center">{{ collectionDet.title }}</h3>
        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/temp/ui-cross.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center mb-5 prof-view">
          <div class="img-wrp">
            <img src="{{collectionDet.user_photo}}" alt="">
          </div>
          <span class="pl-2"><span class="text-muted">Collected by</span> {{collectionDet.name}}</span>
          <span class="pl-3">{{collectionDet.photo_count}} photos</span>
        </div>
        <div class="text-center">
          {{collectionDet.story}}
        </div>
      </div>
    </div>
  </div>
</ng-template>
