<section class="profile-cnt-area">
  <div class="photo-eassays-cnt">
    <ul class="row">
      <li class="col-md-4 img-box">
        <div class="inner">
          <figure><img src="assets/images/temp/photoessays.jpg" alt=""></figure>
          <div class="content">
            <figure class="user"><img src="assets/images/temp/profile-lg.jpg" alt=""></figure>
            <div class="txt">
              <h3><a href="#">WINTER AND SNOW</a></h3>
              <div class="row">
                <div class="left col-sm-8 col-8"><span>Essay by</span> <a href="#">Hamish Jackson</a></div>
                <div class="right col-sm-4 col-4">392 photos</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
