<ng-scrollbar>
  <div class="inner varification-msg">
    <h1 class="text-center">Whoop whoop!</h1>
    <h2 class="text-center">
      Welcome to Shoot The Frame, nice to have you.<br><br>

      We have just sent you an email, please check your account and verify your address. If you didn’t recieve the
      email, you can resend it below, or <a href="#">contact support.</a>
    </h2>
    <app-alert></app-alert>
    <a (click)="resendEmail()" class="btn btn-secondary">Resend email</a>

  </div>
</ng-scrollbar>
