<div class="inner-modal show-full-text">
  <div class="modal-header">
    <h3 class="modal-title text-center">Create new collection</h3>
    <button type="button" class="close" (click)="closeButton()" data-dismiss="modal" aria-label="Close">
      <img src="assets/images/temp/ui-cross.svg" alt="" />
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">
      Give your new collection a title and a description.
    </p>
    <ul class="list-unstyled pt-4">
      <form [formGroup]="collectionForm" (ngSubmit)="create()" novalidate>
        <li class="form-group mb-4">
          <label class="form-control-label">COLLECTION TITLE</label>
          <input type="text" name="title" #title formControlName="title" placeholder="Give your collection a title"
            class="form-control" [ngClass]="{
                'text-valid': collectionForm.controls['title'].valid
              }" required />
        </li>
        {{ title.valid }}
        <li class="form-group mb-4">
          <label class="form-control-label">COLLECTION STORY(optional)</label>
          <textarea name="story" cols="30" rows="4" #story formControlName="story" class="form-control" [ngClass]="{
                'text-valid': collectionForm.controls['story'].value!=''
              }"
            placeholder="Give your collection a description"></textarea>
        </li>
        <li class="form-group stay mb-5">
          <label class="checkbox">
            <input type="checkbox" (change)="checkboxChange($event)" formControlName="private" />
            <span>Make this collection private (only you can see it)</span>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="text-center btn-wrp">
          <div class="form-group">
            <a (click)="cancelButton()" class="btn btn-link text-black underline">Cancel</a>
            <button type="submit" class="btn btn-primary" [disabled]="collectionForm.invalid || submitted" [ngClass]="{ disabled: collectionForm.invalid }">
              Create
            </button>
          </div>
        </li>
      </form>
    </ul>
  </div>
</div>
