
  <div class="content-cntr innerpage">

    <section class="error-500">
      <h3>Oooops. Error code 500.</h3>
      <p>Looks like there is a problem on our end, there is nothing wrong with your end. We are fixing the problem
        right now.</p>
      <p>
        If you urgently need something, please reach out to the <a href="https://help.shoottheframe.com" class="text-black underline">Help
          Center.</a>
      </p>
      <p>
        You can also try to refresh the page, or come back in 30 mins.
      </p>
      <a href="https://help.shoottheframe.com" target="_blank" class="btn btn-secondary">Help Center</a>
    </section>
  </div>
