<div class="content-cntr innerpage">
  <section class="profile-info-top clearfix">
    <div class="img shine"></div>
    <div class="txt">
      <h2 class="title shine shimmer-ttl"></h2>
      <div class="web-id">
        <span class="shine shimmer-ib"></span>
        <span class="shine shimmer-ib"></span>
      </div>
    </div>

    <div class="profile-info-cnt">
      <h5 class="shine shimmer-desc mb-4"></h5>
      <div class="shine shimmer-btn-wrp"></div>
    </div>
  </section>

  <div class="common-tab profile-tab-area shine shimmer-tabHd">

  </div>
  <section class="profile-cnt-area">
    <div class="photo-cnt">

      <ul class="profile-grid collection2 list-unstyled">
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
        <li class="bx-240">
          <div class="main-view shine"></div>
          <div class="collection-btm">
            <div class="img-wrp shine"></div>
            <div class="right-col">
              <p class="ttl shine mb-1"></p>
              <p class="dtl-wrp mb-0">
                <span class="desc shine"></span>
                <span class="r_btn shine"></span>
              </p>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </section>
</div>