.custom-popup-bg{
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
}
.custom-popup-wrp{
	position: absolute;
	
	z-index: 11;
  top: 0;
	width: 100%;
	@include media-breakpoint-up(xl) {
		padding: 70px;	
	}
	.popup-cntr{
		max-width: 1140px;
		width: 100%;
		height: auto;
		background: color("white");
		
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 64px;
		@include media-breakpoint-up(md) {
				@include border-radius(3px);
		}
		.pophead{
			padding: 9px 10px;
			background: color("white");
			
			@include media-breakpoint-up(md) {
				padding: 9px 20px;	
				z-index: 3;   
			}
			@include media-breakpoint-down(sm) {
				 width: 100% !important;
			}
			
			.left{
				display: flex;
				align-items: center;
				
				.img{
					width: 32px;
					height: 32px;
					@include border-radius(50%);
					overflow: hidden;
					@include media-breakpoint-up(md) {
						width: 48px;
						height: 48px;	
					}
				}
				.txt{
					padding-left: 14px;
					color: #c4c4ba;
					font-size:8px;
					@include media-breakpoint-up(md) {
						font-size: $font-size-xsm;
					}	
					h6{
						margin-bottom: 0;
						font-size: 10px;
						color:$body-color;
						font-weight: $font-weight-medium;
						font-family: $font-family-sans-serif;
						text-transform: uppercase;
						@include media-breakpoint-up(md) {
							font-size: $font-size-xsm;	
						}
						a{
							color:$body-color;
							&:hover{
								color:color("green");
							}
						}
					}
				}
			}
			.right{
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
		.hide-mb{
			display: none !important;
			@include media-breakpoint-up(md) {
				display: block !important;
			}

		}
		.hide-wb{
			display: block !important;
			@include media-breakpoint-up(md) {
				display: none !important;	
			}

		}
		.subtitle-cntr{
			/*margin-bottom: 72px;*/
			background: color("white");
			padding: 15px 10px;
			h3{
				font-size: $font-size-xsm;
				font-weight: $font-weight-medium;
				font-family: $font-family-sans-serif;
				text-transform: uppercase;
				margin-bottom: 0;
				@include media-breakpoint-up(md) {
					font-size: 18px;	
				}
				.cancel{
					font-size: $font-size-sm;
					float: right;
					text-transform: none;
					font-weight: $font-weight-normal;
					@include media-breakpoint-up(md) {
						margin-top: 2px;	
					}
				}
			}
		}
	}
}
.critique-score{
	padding: 26px 15px 0;
	margin-bottom: 45px;
	font-size: $font-size-xsm;
	.count{
		font-size: $font-size-sm;
		margin-bottom: 5px;
		position: relative;
		max-width: 360px;
		strong{
			font-weight: $font-weight-medium;
		}
		.whats-this{
			text-align: right;
			margin-top: 5px;
			color: gray("400");
			font-size: $font-size-xsm;
			margin-bottom: 32px;
			position: absolute;
			text-decoration: underline;
			right: 0;
    	top: 0;
		}
	}
	.grap-slide{
		max-width: 360px;
		@include border-radius(2px);
		border: 1px solid $green;
		height: 10px;
		position: relative;
		margin-bottom: 10px;
		span{
			position: absolute;
			width: 50%;
			height: 100%;
			background: color("green");
		}
	}
	.info-bxs{
		li{
			padding: 5px 11px;
			background: #f5f6f7;
			@include border-radius(2px);
			float: left;
			margin-left: 10px;
			display: flex;
    	align-items: center;
			img{
				margin-right: 8px;
			}
		}
	}
}
.popup-banner{
	@include media-breakpoint-up(md) {
		position: relative !important;
		left: 0 !important;
	}
}
.critique-pop-cnt{
	max-width: 770px;
	margin: 0 auto;
	.cnt-cntr{
		
		margin-left: -15px;
		margin-right: -15px;
		
		padding-left: 10px;
    padding-right: 10px;
		@include media-breakpoint-up(md) {
			display: flex;	
			padding-top: 72px;
		}
		.left-cntr{
			padding: 10px 15px;
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 50%;
			}
			.image-cntr{
				@include box-shadow(1px 1px 8px 0 rgba(0, 0, 0, 0.16));
			}
			
		}
		.tips{
			border: 1px solid #eef0f0;
			padding: 23px 20px;
			margin-top: 10px;
			margin-bottom: 32px;
			color: #707070;
			font-size: $font-size-xsm;
			display: flex;
			align-items: center;
			@include media-breakpoint-up(md) {
				margin-top: 32px;	
				margin-bottom: 0px;
			}
			.img{
				min-width: 30px;
				margin-right: 23px;
			}
			h5{
				font-weight: $font-weight-medium;
				font-size: $font-size-xsm;
				margin-bottom: 0;
				font-family: $font-family-sans-serif;
				color: $body-color;
			}
		}
		.right-cntr{
			padding: 0 15px;
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 50%;
			}
			.impact{
				margin-bottom: 20px;
			}
			.impact-slide{
				margin-bottom: 41px;
				.slide{
					width: 100%;
					height: 4px;
					background: #4c4c4c;
					position: relative;
					span{
						position: absolute;
						left: 0;
						width: 50%;
						height: 4px;
						background: color("green");
						&:after{
							width: 18px;
  						height: 18px;
							border: 1px solid #dbdbdb;
							background: color("white");
							content: "";
							position: absolute;
							right: 0;
							top: -8px;
							@include border-radius(50%);
						}
					}
				}
			}
			.form-group{
				margin-bottom: 0;
				.whats-this{
					text-align: right;
					margin-top: 5px;
					color: gray("400");
					font-size: $font-size-xsm;
					margin-bottom: 32px;
					position: relative;
					text-decoration: underline;
				}
			}
			.form-control{
				border-color: #eef0f0;
				height: 100px;
				padding: 10px 20px;
				&:focus{
					@include box-shadow(1px 1px 8px 0 rgba(0, 0, 0, 0.16));
					background: #eef0f0;
				}
			}
			ul{
				li{
					margin-bottom: 56px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.btn-wrp{
				margin-top: 73px;
				margin-bottom: 32px;
				.btn{
					min-width: 150px;
				}
			}
			.wrng{
				color: #707070;
				font-size: $font-size-xsm;
			}
		}
	}
	
} 
.sticky{
	z-index: 2;
}
.critique-tab-cntr{
	max-width: 556px;
	margin: 0 auto;
}