$enable-shadows: true;

.sidebar{
	position: fixed;
	left: 0;
	height: 100vh;
	border-right: 1px solid $common-border-color;
	padding: 10px;
	width: 65px;
	background-color: #F8F8F8;
	z-index: 1000;
	@include transition(all .2s ease-out);
	padding-top: 65px;
	overflow: hidden;
	font-size: 20px;
	&:hover{
		width: 260px;
		@include box-shadow(3px 0 20px rgba(0,0,0,0.2)); 
		
	}
	li{
		span{
			display: inline-block;
			width: 40px;
			height: 40px;
			@include border-radius(50px);
			background: color("green");
			color: color("white");
			text-align: center;
			line-height: 40px;
			&.hotel{
				background: color("blue");
			}
			&.restaurant{
				background: color("red");
			}
			&.events{
				background: color("purple");
			}
		}
		.txt{
			 opacity:0;
			 visibility: hidden;
		}
	}
}