<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="inner-modal">
        <div class="modal-header">
          <h3 class="modal-title text-center">Collective Score</h3>
          <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="assets/images/temp/ui-cross.svg" alt="">
          </button>
        </div>
        <div class="modal-body text-center">

            <p>The <strong>Collective Score</strong> of a photo is an algorithm based on all the critiques a photo has received from members of Shoot The Frame. There are 10 criteria for which a photo can be critiqued, each with a maximum score of 100.</p>

            <p>The maximum <strong>Collective Score</strong> a photo can receive is also 100. </p>
          <div class="btn-cntr text-center">
            <a class="btn btn-secondary" (click)="closeModal()">Okay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
