<!-- <app-essay-collection-loader [hidden]="!showLoader"></app-essay-collection-loader> -->
<button type="button" class="popclose-mb close-critic" [hidden]="!closeButton" aria-describedby="modal-title"
  (click)="closeModal()">
  <img src="assets/images/temp/close.svg" alt="">
</button>
<div *ngIf='collectionDet' class="content-cntr innerpage">
  <section class="heading-top-cntr">
    <h1 class="title">{{ collectionDet.title }}</h1>
    <h3 class="mb-4">
      {{ (collectionDet.story && collectionDet.story.length>100)? (collectionDet.story |
      slice:0:100)+'..':(collectionDet.story) }}
      <a (click)="openModal(readMoreContent)" *ngIf="(collectionDet.story && collectionDet.story.length>100)"
        class="readmore text-black">read
        more</a>
    </h3>
  </section>
  <div class="grid-top row">
    <div class="col-12 col-sm-8">
      <div class="prof-view d-flex align-items-center">
        <div (click)="showProfile(collectionDet.username)" class="img-wrp cursor">
          <img src="{{collectionDet.user_photo}}" alt="">
        </div>
        <span class="pl-3 cursor" (click)="showProfile(collectionDet.username)"><span class="text-muted">Collected by</span>
          {{collectionDet.name}}</span>
        <span class="pl-3 text-muted">{{collectionDet.photo_count}}
          {{collectionDet.photo_count=='1'?'photo':'photos'}}</span>
      </div>
    </div>
    <div class="col-12 col-sm-4 pt-3 pt-sm-0">
      <div class="float-right">
        <div class="dropdown option-dropdown free-position" *ngIf="!shareCollection && isOwnCollection">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <div class="inner-wrp">
              <a class="dropdown-item" (click)="share()">Share collection</a>
              <a class="dropdown-item" (click)="editCollection()">Edit collection</a>
              <a class="dropdown-item delete" (click)="deleteCollection()">Delete collection</a>
            </div>
          </div>
        </div>
        <span *ngIf="shareCollection || !authUserDetails || !isOwnCollection" class="cursor shre-btn-top"
          (click)="share()">
          Share
        </span>
      </div>
    </div>
  </div>
  <app-alert></app-alert>
  <section class="profile-cnt-area">
    <div class="photo-cnt" *ngIf="userPhotos.length!=0">
      <div class="image-items" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="pageChanged()" [scrollWindow]="true">
        <ng-masonry-grid class="grid" (onNgMasonryInit)="onNgMasonryInit($event)"
          (layoutComplete)="completeLayout($event)" *ngIf="userPhotos.length!=0" 
          [masonryOptions]="{itemSelector: grid-item,initLayout:false,
            gutter: 30,horizontalOrder: false,
            percentPosition: true,
            transitionDuration: 0.50,
            transitionDelay:0.50}" [useAnimation]="false" [useImagesLoaded]="false">
          <!-- Masonry Grid Item -->
          <ng-masonry-grid-item #container class="grid-item" id="{{'masonry-item-'+i}}"
            *ngFor="let item of userPhotos; let i = index;">
            <!-- Grid Content  -->
            <!-- [ngStyle]="{'height':addPixel(item.height,item.width)}" -->
            <div class="inner-grid" [ngStyle]="{'opacity':showOpacity[item.page]}">
              <div class="top-area">
                <app-stf-award-logo [item]='item' [type]="'web'"></app-stf-award-logo>
                <ul>
                  <li *ngIf="!isOwnCollection  || !authUserDetails">
                    <a (click)="addCollections(item)" container="body" tooltipClass="tooltip-custom"
                      [ngbTooltip]="collection">Collect</a>
                  </li>
                  <li [hidden]="isOwnCollection  || item.critique_status !== 0  || removeCriticBtn == item.id ">
                    <a (click)="crticPopup(imageDetails,item,i)" tooltipClass="tooltip-custom"
                      [ngbTooltip]="critique">Critique</a>
                  </li>
                  <li *ngIf="isOwnCollection">
                    <div class="dropdown option-dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" tooltipClass="tooltip-custom"
                        [ngbTooltip]="moreoptions">
                        <span></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="inner-wrp">
                          <a class="dropdown-item" [ngClass]="{'disabled': item.is_cover!='0'}"
                            (click)="item.is_cover=='0'?setCollectionCover(item.id):''">Set
                            to
                            collection cover</a>
                          <a class="dropdown-item" (click)="removeItem(item.id, i)">Remove
                            from collection</a>
                          <a class="dropdown-item" *ngIf="authUserDetails.id === item.user_id"
                            (click)="editPhoto(item.id)">Edit
                            photo</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="likes" container="body" tooltipClass="tooltip-custom"
                  [ngbTooltip]="item.like_status === 1 ? likeContent : unlikeContent"
                  [ngClass]="item.like_status === 1 ? 'active' : ''" (click)="likePhotos(item)"><i class="fa fa-heart"
                    aria-hidden="true"></i>
                  <span class="cnt"> {{nFormatter(item.like_count)}} </span></div>

              </div>
              <div class="bottom-area">
                <div (click)="showProfile(item.username)" class="left cursor">
                  <div class="img cursor"><img src="{{item.user_photo}}" alt=""></div>
                  {{item.name}}
                </div>
                <div class="right">
                  <div *ngIf="((item.adult_content=='0' && item.own_photo=='0')
                   || (item.adult_content=='1' &&  item.own_photo=='1'))" class="likes" container="body"
                    tooltipClass="tooltip-custom" [ngbTooltip]="item.like_status === 1 ? likeContent : unlikeContent"
                    [ngClass]="item.like_status === 1 ? 'active' : ''" (click)="likePhotos(item)"><i class="fa fa-heart"
                      aria-hidden="true"></i>
                    <span class="cnt"> {{nFormatter(item.like_count)}} </span></div>
                  <div *ngIf="item.adult_content=='1' && item.own_photo=='0'" class="likes cursor"
                    (click)="updateAdultContent(item)">
                    See adult content
                  </div>
                  <app-stf-award-logo [item]='item' [type]="'mobile'"></app-stf-award-logo>
                </div>
              </div>
              <!-- <img (click)="openModal(imageDetails,item,i)" [defaultImage]="defaultImage" [lazyLoad]="item.media" [useSrcset]="false"
            [offset]="item.height"> -->
              <!-- <div [defaultImage]="defaultImage" [lazyLoad]="item.media" [offset]="offset"></div> -->
              <!-- src="{{ item.localmedia}}--glide?q=30" -->

              <div class="grid-image-outer" [ngClass]="{'ad_cnt': item.adult_content=='1' && item.own_photo=='0'}"
                [ngStyle]="{'padding-bottom':addPixel(item),'position':'relative'}">
                <img (click)="openMasonryModal(imageDetails,item,i)" src="{{ item.localmedia}}--glide?w=360&q=80"
                  style="background-color:#E0E3E5"
                  sizes="(min-width: 1335px) 416px, (min-width: 992px) calc(calc(100vw - 72px) / 3), (min-width: 768px) calc(calc(100vw - 48px) / 2), 100vw"
                  srcset="{{ item.localmedia}}--glide?w=360&fit=crop&q=80 100w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 200w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 300w,
                  {{ item.localmedia}}--glide?w=400&fit=crop&q=80 400w,
                  {{ item.localmedia}}--glide?w=500&fit=crop&q=80 500w,
                  {{ item.localmedia}}--glide?w=1000&fit=crop&q=80 600w,
                  {{ item.localmedia}}--glide?w=700&fit=crop&q=80 700w,
                  {{ item.localmedia}}--glide?w=1000&fit=crop&q=80 800w,
                  {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 900w,
                  {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 1000w,
                  {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 1100w,
                  {{ item.localmedia}}--glide?w=1200&fit=crop&q=80 1200w,
                  {{ item.localmedia}}--glide?w=1296&fit=crop&q=80 1296w,
                  {{ item.localmedia}}--glide?w=1800&fit=crop&q=80 1400w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 1600w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 1800w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2000w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2200w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2400w,
                  {{ item.localmedia}}--glide?w=360&fit=crop&q=80 2592w
                  ">
              </div>
            </div>
          </ng-masonry-grid-item>
        </ng-masonry-grid>

      </div>
    </div>
    <app-pagination-loader *ngIf="showPaginationLoader"></app-pagination-loader>


    <ng-template #likeContent>Liked by you</ng-template>
    <ng-template #unlikeContent>Give a little love</ng-template>
    <ng-template #moreoptions>More options</ng-template>
    <ng-template #collection>Add to collection</ng-template>
    <ng-template #critique>Critique Photo</ng-template>

    <div *ngIf='userPhotos.length==0 && isOwnCollection && !showPaginationLoader' class="photo-eassays-cnt">
      <div class="empty-msg text-center">You don't have any photos in this collection. &nbsp; 😕</div>
    </div>
    <div *ngIf='userPhotos.length==0 && !isOwnCollection && !showPaginationLoader' class="photo-eassays-cnt">
      <div class="empty-msg text-center">There aren't photos in this collection. &nbsp; 😕</div>
    </div>
    <div *ngIf="emptyStatus==true && !showPaginationLoader" class="empty-msg text-center">
      <p>No more results 🙃</p>
    </div>
  </section>
</div>

<ng-template #readMoreContent class="modal-md" let-modal>
  <div class="modal-content">
    <div class="inner-modal">
      <div class="modal-header">
        <h3 class="modal-title text-center">{{ collectionDet.title }}</h3>
        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/temp/ui-cross.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center mb-5 prof-view">
          <div class="img-wrp cursor" (click)="showProfile(collectionDet.username)">
            <img src="{{collectionDet.user_photo}}" alt="">
          </div>
          <span class="pl-2"><span class="text-muted">Collected by </span> <span class="cursor"
              (click)="showProfile(collectionDet.username)">{{collectionDet.name}}</span></span>
          <span class="pl-3 text-muted">{{collectionDet.photo_count}} photos</span>
        </div>
        <pre class="text-center">
          {{collectionDet.story}}
        </pre>
      </div>
    </div>
  </div>
</ng-template>
