<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="inner-modal">
      <div class="modal-header">
        <h3 class="modal-title text-center">Master Collective Score</h3>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/temp/ui-cross.svg" alt="">
        </button>
      </div>
      <div class="modal-body text-center">

        <p>The <strong>Master Collective Score</strong> is an algorithm based on all of the critiques a Shoot The Frame member has
          received for all of their photos within the platform.</p>

        <p> The maximum <strong> Master Collective Score</strong> a member can receive is 100. </p>
        <div class="btn-cntr text-center">
          <a class="btn btn-secondary" (click)="closeModal()">Okay</a>
        </div>
      </div>
    </div>
  </div>
</div>
