<ng-scrollbar>
  <!-- <ng-scrollbar> -->
  <div class="inner">
    <h1 class="text-center">Reset password</h1>
    <h2 class="text-center">Create a new password. Once complete, we will <br> take you to your profile.</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <ul class="row">
        <li class="col-md-12">
          <app-alert></app-alert>
        </li>
        <li class="col-md-12">
          <div class="form-group paswrd-cntr">
            <label for="exampleInputEmail1">PASSWORD <span>(at least 6 characters)</span></label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Create a new password" [ngClass]="{ 'is-invalid': submitted && f.password.errors,'text-valid':resetForm.value.password.length }"
              #password>
            <div class="shw-pswd">
              <label class="checkbox"> Show
                <input type="checkbox" (click)="changeInput(password)">
                <span class="checkmark"></span>
              </label>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Please type password</div>
              <div *ngIf="f.password.errors.minlength">Please use at least 6 characters</div>
            </div>
          </div>
        </li>
        <li class="col-md-12">
          <div class="form-group paswrd-cntr">
            <label for="exampleInputEmail1">CONFIRM PASSWORD</label>
            <input type="password" formControlName="confirm_password" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Confirm your new password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors,'text-valid':resetForm.value.confirm_password.length }"
              #confirm_password>
            <div class="shw-pswd">
              <label class="checkbox"> Show
                <input type="checkbox" (click)="changeInput(confirm_password)">
                <span class="checkmark"></span>
              </label>
            </div>
            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
              <div *ngIf="f.confirm_password.errors.required">Please type confirm password</div>
            </div>
          </div>
        </li>

        <li class="col-md-12 btn-wrp text-center">
          <div class="form-group">
            <a href="#" [routerLink]="['/sign-up']" class="sign-in-btn signup-btn underline">Sign up</a> <button class="btn btn-primary">Save</button>
          </div>
        </li>
        <li class="col-md-12 text-center">
          <a href="#" [routerLink]="['/sign-in']" class="sign-in-btn underline">Sign in</a>
        </li>
      </ul>
    </form>
  </div>
</ng-scrollbar>
