<app-collection-loader [hidden]="showCollectionLoader==1"></app-collection-loader>
<div class="content-cntr innerpage" [ngStyle]="{'opacity':showCollectionLoader}">
  <section class="heading-top-cntr">
    <h1 class="title">Collections</h1>
    <h3>Explore collections created and curated by photographers from the STF community. You too create your own
      private and public collections!
    </h3>
  </section>
  <div class="clearfix"></div>
  <app-alert></app-alert>
  <ngb-tabset (tabChange)="tabChange($event)" class="common-tab profile-tab-area">
    <ngb-tab id='featured' title="FEATURED">
      <ng-template ngbTabContent>
          <app-collection-tab [categoryType]='categoryType' (loaderClose)="loaderClose()">
            </app-collection-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab id='new' title="NEW">
      <ng-template ngbTabContent>
          <app-collection-tab [categoryType]='categoryType' (loaderClose)="loaderClose()">
            </app-collection-tab>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
