<ng-scrollbar>
  <div class="inner forgot-cntr">
    <h1 class="text-center">Forgot password</h1>
    <h2 class="text-center">It happens to the best of us. <br> Pop your email below, we’ll get you a new one. </h2>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <ul class="row">
        <li class="col-md-12 ">
          <app-alert></app-alert>
        </li>

        <li class="col-md-12 ">
          <div class="form-group">
            <label for="exampleInputEmail1">EMAIL</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Which email address shall we use?" [ngClass]="{ 'is-invalid': submitted && f.email.errors ,'text-valid':forgotForm.value.email.length }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Please type email</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </li>


        <li class="col-md-12 btn-wrp text-center">
          <div class="form-group">
            <a href="#" [routerLink]="['/sign-up']" class="sign-in-btn signup-btn underline">Sign up</a> <button class="btn btn-primary">Send
              email</button>
          </div>
        </li>
        <li class="col-md-12 text-center">
          <a href="#" [routerLink]="['/sign-in']" class="sign-in-btn underline">Sign in</a>
        </li>
      </ul>
    </form>
  </div>
</ng-scrollbar>
