<main class="main">
  <div class="content-cntr innerpage">
    <section class="ac-cnt-area">
      <div class="row">

        <!--=========================Left=========================-->
        <div class="col-sm-8 ">

          <section class="pricing-msg-cnt-area">
            <h2 class="title">Account deleted </h2>
            <h3 class="sub-heading mb-32">
              You have successfully deleted your Shoot The Frame account. We will miss you! Please <a class="underline text-black" target="_blank" href="support.shoottheframe.com"> reach out </a>if you
              have any questions, you can sign up again at any stage. We won’t hold it against you. 😜
            </h3>
          </section>
          <section class="survey-cntr">
            <h4>Super quick survey</h4>
            <p>
              Do you have time for a super quick survey? We would love to know why you have chosen to close your
              account, we want to make this community as good as it possibly can be. It will only take a minute.
            </p>
            <div class="btn-cntr">
              <a target="_blank" href="https://support.shoottheframe.com" class="btn btn-primary">Yep, quick survey</a>
            </div>

          </section>
        </div>
      </div>
    </section>
  </div>
</main>
