<div class="modal-header">
  <div class="avtar-view">
    <div class="img-wrp shine"></div>
    <div class="dtl-wrp">
      <div class="line shine"></div>
      <div class="line shine"></div>
    </div>
  </div>
  <div class="btn-wrp shine"></div>
</div>
<div class="modal-body">
  <div class="img-box shine"></div>
  <div class="cnt-box">
    <div class="sc-left d-none d-md-block">
      <div class="line shine"></div>
      <div class="box-cntr">
        <div class="box shine"></div>
        <div class="box-sm shine"></div>
      </div>
    </div>
    <div class="sc-right">
      <div class="lnk-btn shine"></div>
      <div class="lnk-btn shine"></div>
      <div class="lnk-btn shine"></div>
      <div class="lnk-btn shine"></div>
    </div>
  </div>
</div>
