<main class="main">
  <div class="content-cntr innerpage">
    <section class="profile-info-top clearfix">
      <div class="img shine"></div>
      <div class="txt">
        <h2 class="title shine shimmer-ttl"></h2>
        <div class="web-id">
          <span class="shine shimmer-ib"></span>
          <span class="shine shimmer-ib"></span>
        </div>
      </div>

      <div class="profile-info-cnt">
        <h5 class="shine shimmer-desc mb-4"></h5>
        <div class="shine shimmer-btn-wrp"></div>
      </div>
    </section>

    <div class="common-tab profile-tab-area shine shimmer-tabHd">

    </div>
    <section class="profile-cnt-area">
      <div class="photo-cnt">

        <ul class="profile-grid list-unstyled">
          <li class="bx-500">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-360">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-260">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-360">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-260">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-500">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-260">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-500">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
          <li class="bx-360">
            <div class="mb-top">
              <span class="img-wrp shine"></span>
              <span class="ttl-wrp shine"></span>
            </div>
            <div class="main-view shine"></div>
            <div class="mb-bottom">
              <span class="shine"></span>
              <span class="shine"></span>
              <span class="shine"></span>
            </div>
          </li>
        </ul>

      </div>
    </section>
  </div>
</main>
