<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="inner-modal">
      <div class="modal-header">
        <h3 class="modal-title text-center">Critiquing a photo</h3>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/temp/ui-cross.svg" alt="">
        </button>
      </div>
      <div class="modal-body text-center">

        <p>Critiquing a photo allows you to give genuine feedback on a photo. There are 10 criteria for which you can
          give a score out of 100, as well as a section to comment on each criteria. The total score for a photo is
          know as the Collective Score.</p>

        <p>You can invite a member of Shoot The Frame, or anyone in the world to critique your photos. If you are
          logged in, you can go to the Critiques section to see all of the Given and Received critiques.</p>

        <p>We are creating a community of positivity and genuine feedback, so keep that in mind when you are
          critiquing someone’s work, this is not a place to be rude. Be honest, genuine and helpful, but always kind
          with your words.</p>

        <p>There is enough bull$*@# in the world, let’s make this a safe place to share photography. 🙂</p>
        <div class="btn-cntr text-center">
          <a class="btn btn-secondary" (click)="closeModal()">Okay</a>
        </div>
      </div>
    </div>
  </div>
</div>
