<app-grid-loader *ngIf="activepopup===true"></app-grid-loader>
<button type="button" class="popclose-mb close-critic" aria-describedby="modal-title" (click)="closeModal()">
  <img src="assets/images/temp/close.svg" alt="">
</button>
<div class="custom-popup-wrp" [ngStyle]="{'opacity':activepopup==true?0:1}" data-backdrop="static">
  <!-- <div class="popup-cntr"> -->
  <!-- <div [hidden]="fromModal"> -->
  <!-- <app-modal-top (criticClose)="alertCtitic($event)" [change]="change" [addCritic]="'true'" [data]="modalData"
      [imgDetails]="imgDetails" [currentItemKey]="currentItemKey"></app-modal-top> -->
  <!-- </div> -->
  <div class="popup-cntr">
    <section class="pophead">
      <div class="popclose" (click)="closeModal()">
        <img src="assets/images/temp/close.svg" width="17" alt="">
      </div>
      <div class="row">
        <div class="col">
          <div (click)="showProfile(data?.username)" class="left">
            <div class="img"> 
              <img src="{{ data?.user_photo }}" alt="">
            </div>
            <div class="txt">
              <h6><a>{{ data?.name }}</a></h6>
              @{{ data?.username }}
            </div>
          </div>
        </div>
        <!-- //*ngIf="!isAuthUser" -->

        <div class="col right align-items-center text-right" [hidden]="!isAuthUser">
          <a (click)="share(data,'critic')" class="btn btn-primary">Invite Critique</a>
        </div>
      </div>
    </section>


    <div #uploadMedia></div>
    <section class="popup-banner" [ngClass]="{'no-sticky': addCritic === false}">
      <!-- <div class="popup-slider-nav left">
        <a *ngIf="isShowPre && !addCritic" (click)="imagePreFn()" class="nav"><img src="assets/images/temp/prv-arw.svg"
            alt=""></a>
      </div>
      <div class="popup-slider-nav right">
        <a *ngIf="isShowNext && !addCritic" (click)="imageNextFn()" class="nav"><img
            src="assets/images/temp/next-arw.svg" alt=""></a>
      </div> -->
      <img (load)="showImageFunction(data)" src="{{ data?.localmedia}}--glide?fit=crop&q=80" alt="">
      <div class="subtitle-cntr hide-wb" *ngIf="addCritic">
        <h3>CRITIQUE PHOTO <a (click)="canDeactivate()" class="underline text-black cancel">Cancel</a></h3>
      </div>
    </section>




    <section class="critique-score">
      <div class="row">
        <div class="col-md-6 score-count-cntr">
          <div *ngIf="!isAuthUser && data && data?.collective_score_status!=0 || isAuthUser">
            <ngb-progressbar type="success" [value]="data?.collective_score"></ngb-progressbar>
            <div class="count "><strong>Collective Score:</strong> {{ data?.collective_score }}
              <div (click)="infoCollectiveModal()" class="whats-this cursor">what’s
                this?</div>
            </div>
          </div>
          <div *ngIf="!isAuthUser && data && data?.collective_score_status!=0 || isAuthUser">
            Critiques: {{ data?.critiques }}
          </div>
        </div>
        <div class="col-md-6">
          <ul class="info-bxs float-right">
            <li class="menu" [hidden]="!isAuthUser" (click)="showDropDown()"
              [ngClass]="{'active': isShowDropDown==true}">
              <a class="dots">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </a>
              <ul class="drp-dwn">
                <li><a (click)="submitStfAwards(data)">Submit into STF Awards</a></li>
                <li><a (click)="awardHistoryModal(data)">STF Awards history</a></li>
                <li><a (click)="addPhotoEssay(data)">Add to photo essay</a></li>
                <li><a (click)="editPhoto(data?.id)">Edit photo</a></li>
                <li><a (click)="deletePhoto(contentDelete)" class="delete">Delete photo</a></li>
              </ul>
            </li>
            <li (click)="openModal(contentCamDetails)"><img src="assets/images/temp/gen-information.svg" alt=""
                width="12px">
              Info</li>
            <li><a (click)="addCollections(data)">Collect</a></li>
            <li (click)="share(data,'photo')">Share</li>
            <li class="likes" [ngbTooltip]="data && data?.like_status === 1 ? likeContent : unlikeContent"
              [ngClass]="data && data?.like_status === 1 ? 'active' : ''" (click)="likePhotos(data)"><i class="fa fa-heart"
                aria-hidden="true"></i>{{data?.like_count}}</li>
          </ul>
        </div>
      </div>
    </section>


    <section class="critique-pop-cnt" #scrollMe>

      <div class="subtitle-cntr hide-mb">
        <h3>CRITIQUE PHOTO <a (click)="canDeactivate()" class="underline text-black cancel">Cancel</a></h3>
      </div>

      <div class="cnt-cntr">
        <div class="left-cntr hide-mb">
          <div class="inner">
            <div class="image-cntr">
              <img src="{{ data?.localmedia}}--glide?w=360&fit=crop&q=80" alt="">
            </div>
            <a target="_blank" href="https://about.shoottheframe.com/tips/critiquing-photos/">
              <div class="tips cursor">
                <div class="img">
                  <img src="assets/images/temp/hou-light-ceiling.svg" width="30px" alt="">
                </div>
                <div class="txt">
                  <h5><span class="text-green">TIP:</span> CRITIQUING PHOTOS</h5>
                  We are creating a community of positivity and genuine feedback… <a class="text-black underline">learn
                    more</a>
                </div>

              </div>
            </a>
          </div>

        </div>


        <div class="right-cntr">

          <div class="hide-wb">
            <a target="_blank" href="https://about.shoottheframe.com/tips/critiquing-photos/">
              <div class="tips cursor">
                <div class="img">
                  <img src="assets/images/temp/hou-light-ceiling.svg" width="30px" alt="">
                </div>
                <div class="txt">
                  <h5><span class="text-green">TIP:</span> CRITIQUING PHOTOS</h5>
                  We are creating a community of positivity and genuine feedback… <a href="#"
                    class="text-black underline">learn
                    more</a>
                </div>
              </div>
            </a>
          </div>

          <div [hidden]="userDetails">
            <app-alert></app-alert>
          </div>
          <div class="signin-msg" *ngIf="!userDetails">
            <h4>CRITIQUES ARE AVAILABLE TO ALL MEMBERS</h4>
            Sign up or <a href="#" class="text-black underline">sign in</a> to give and recieve of critiques.
            <a href="#" class="btn btn-primary">Join Free</a>
          </div>


          <form [formGroup]="criticInsForm" (ngSubmit)="onSubmitCritics()">

            <ul>
              <li>
                <div class="impact row">
                  <div class="col-10">Overall impact</div>
                  <div class="col-2 text-rigt">{{impact_value.value == 0 ? 'NA' : impact_value.value}}</div>

                </div>
                <div class="impact-slide">
                  <!-- <div class="slide">
                            <span></span>
                          </div> -->
                  <p-slider (onChange)="setCounter($event,'impact_value')" #impact_value formControlName="impact_value"
                    [animate]="true"></p-slider>

                </div>

                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['impact_comment']" [innerHTML]="commentValue['impact_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='impact_comment'}">
                    <textarea (selectedTerm)="setUser($event,'impact_comment')" [mentions]="mention[0].impact_comment"
                      (click)="showInfo('impact_comment')" (searchTerm)="searchPeople($event, 'impact_comment')"
                      (ngModelChange)="isText($event,'impact_comment')" [value]="textAreaVal[0]['impact_comment']"
                      class="form-control comment-input" #impact_comment formControlName="impact_comment"
                      placeholder="Comment on the Overall impact"></textarea>
                  </span>
                  <div class="whats-this  cursor" (click)="infoModal('overall_impact')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Composition</div>
                  <div class="col-2 text-rigt">{{composition_value.value == 0 ? 'NA' : composition_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'composition_value')" #composition_value
                    formControlName="composition_value" [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['composition_comment']" [innerHTML]="commentValue['composition_comment']">
                  </div>
                  <span class="inner" [ngClass]="{'active': showCls==='composition_comment'}">
                    <textarea id="composition_comment" (selectedTerm)="setUser($event,'composition_comment')"
                      [mentions]="mention[0].composition_comment" (click)="showInfo('composition_comment')"
                      (ngModelChange)="isText($event,'composition_comment')"
                      (searchTerm)="searchPeople($event, 'composition_comment')"
                      [value]="textAreaVal[0]['composition_comment']" class="form-control  comment-input"
                      #composition_comment formControlName="composition_comment"
                      placeholder="Comment on the Composition"></textarea>
                  </span>
                  <div class="whats-this  cursor" (click)="infoModal('composition')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Emotion</div>
                  <div class="col-2 text-rigt">{{emotion_value.value == 0 ? 'NA' : emotion_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'emotion_value')" #emotion_value
                    formControlName="emotion_value" [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['emotion_comment']" [innerHTML]="commentValue['emotion_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='emotion_comment'}">
                    <textarea id="emotion_comment" (selectedTerm)="setUser($event,'emotion_comment')"
                      [mentions]="mention[0].emotion_comment" (click)="showInfo('emotion_comment')"
                      (ngModelChange)="isText($event,'emotion_comment')" [value]="textAreaVal[0]['emotion_comment']"
                      (searchTerm)="searchPeople($event, 'emotion_comment')" class="form-control  comment-input"
                      #emotion_comment formControlName="emotion_comment"
                      placeholder="Comment on the Emotion"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('emotion')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Lighting / Exposure</div>
                  <div class="col-2 text-rigt">{{exposure_value.value == 0 ? 'NA' : exposure_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'exposure_value')" #exposure_value
                    formControlName="exposure_value" [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['exposure_comment']" [innerHTML]="commentValue['exposure_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='exposure_comment'}">
                    <textarea (selectedTerm)="setUser($event,'exposure_comment')" [mentions]="exposureItems"
                      (click)="showInfo('exposure_comment')" (searchTerm)="searchPeople($event, 'exposure_comment')"
                      (ngModelChange)="isText($event,'exposure_comment')" [value]="textAreaVal[0]['exposure_comment']"
                      class="form-control  comment-input" #exposure_comment formControlName="exposure_comment"
                      placeholder="Comment on the Lighting / Exposure"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('lighting')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Originality / Creativity</div>
                  <div class="col-2 text-rigt">{{creativity_value.value == 0 ? 'NA' : creativity_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'creativity_value')" #creativity_value
                    formControlName="creativity_value" [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['creativity_comment']" [innerHTML]="commentValue['creativity_comment']">
                  </div>
                  <span class="inner" [ngClass]="{'active': showCls==='creativity_comment'}">
                    <textarea (selectedTerm)="setUser($event,'creativity_comment')" [mentions]="creativityItems"
                      (click)="showInfo('creativity_comment')" (searchTerm)="searchPeople($event, 'creativity_comment')"
                      (ngModelChange)="isText($event,'creativity_comment')"
                      [value]="textAreaVal[0]['creativity_comment']" class="form-control  comment-input"
                      #creativity_comment formControlName="creativity_comment"
                      placeholder="Comment on the Originality / Creativity"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('originality')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Difficulty</div>
                  <div class="col-2 text-rigt">{{difficulty_value.value == 0 ? 'NA' : difficulty_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'difficulty_value')" #difficulty_value
                    formControlName="difficulty_value" [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['difficulty_comment']" [innerHTML]="commentValue['difficulty_comment']">
                  </div>
                  <span class="inner" [ngClass]="{'active': showCls==='difficulty_comment'}">
                    <textarea (selectedTerm)="setUser($event,'difficulty_comment')" [mentions]="difficultyItems"
                      (click)="showInfo('difficulty_comment')" (searchTerm)="searchPeople($event, 'difficulty_comment')"
                      (ngModelChange)="isText($event,'difficulty_comment')" class="form-control  comment-input"
                      [value]="textAreaVal[0]['difficulty_comment']" #difficulty_comment
                      formControlName="difficulty_comment" placeholder="Comment on the Difficulty"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('difficulty')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Technical execution</div>
                  <div class="col-2 text-rigt">{{te_value.value == 0 ? 'NA' : te_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'te_value')" #te_value formControlName="te_value"
                    [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['te_comment']" [innerHTML]="commentValue['te_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='te_comment'}">
                    <textarea (selectedTerm)="setUser($event,'te_comment')" [mentions]="technicalItems"
                      (click)="showInfo('te_comment')" (searchTerm)="searchPeople($event, 'te_comment')"
                      (ngModelChange)="isText($event,'te_comment')" class="form-control  comment-input" #te_comment
                      [value]="textAreaVal[0]['te_comment']" formControlName="te_comment"
                      placeholder="Comment on the Technical execution"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('technical')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Color / Tone</div>
                  <div class="col-2 text-rigt">{{color_value.value == 0 ? 'NA' : color_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'color_value')" #color_value formControlName="color_value"
                    [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['color_comment']" [innerHTML]="commentValue['color_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='color_comment'}">
                    <textarea (selectedTerm)="setUser($event,'color_comment')" [mentions]="colorItems"
                      (click)="showInfo('color_comment')" (searchTerm)="searchPeople($event, 'color_comment')"
                      (ngModelChange)="isText($event,'color_comment')" class="form-control  comment-input"
                      #color_comment [value]="textAreaVal[0]['color_comment']" formControlName="color_comment"
                      placeholder="Comment on the Color / Tone"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('color')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Subject matter</div>
                  <div class="col-2 text-rigt">{{subject_value.value == 0 ? 'NA' : subject_value.value}} </div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'subject_value')" #subject_value
                    formControlName="subject_value" [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['subject_comment']" [innerHTML]="commentValue['subject_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='subject_comment'}">
                    <textarea (selectedTerm)="setUser($event,'subject_comment')" [mentions]="subjectItems"
                      (click)="showInfo('subject_comment')" (searchTerm)="searchPeople($event, 'subject_comment')"
                      (ngModelChange)="isText($event,'subject_comment')" class="form-control  comment-input"
                      #subject_comment [value]="textAreaVal[0]['subject_comment']" formControlName="subject_comment"
                      placeholder="Comment on the Subject matter"></textarea>
                  </span>
                  <div class="whats-this cursor" (click)="infoModal('subject')">what’s this?</div>
                </div>
              </li>
              <li>
                <div class="impact row">
                  <div class="col-10">Storytelling</div>
                  <div class="col-2 text-rigt">{{story_value.value == 0 ? 'NA' : story_value.value}}</div>
                </div>
                <div class="impact-slide">
                  <p-slider (onChange)="setCounter($event,'story_value')" #story_value formControlName="story_value"
                    [animate]="true"></p-slider>
                </div>
                <div class="form-group cmt-bx-cntr">
                  <div *ngIf="commentValue['story_comment']" [innerHTML]="commentValue['story_comment']"> </div>
                  <span class="inner" [ngClass]="{'active': showCls==='story_comment'}">
                    <textarea (selectedTerm)="setUser($event,'story_comment')" [mentions]="storyItems"
                      (click)="showInfo('story_comment')" (searchTerm)="searchPeople($event, 'story_comment')"
                      (ngModelChange)="isText($event,'story_comment')" class="form-control  comment-input"
                      #story_comment [value]="textAreaVal[0]['story_comment']" formControlName="story_comment"
                      placeholder="Comment on the Storytelling"></textarea>
                  </span>
                  <div class="whats-this  cursor" (click)="infoModal('story')">what’s this?</div>
                </div>
              </li>
            </ul>
            <div class="btn-wrp text-right" *ngIf="!view">
              <button type="submit" class="btn btn-primary" [disabled]='counter < 5 || disable'>
                {{edit?'Save':'Publish critique'}}</button>
            </div>
          </form>


          <div class="wrng text-right">
            You will need to complete at least 5 criteria sliders to be able to publish a critique.
          </div>

        </div>

      </div>
      <div class="mt-32" [hidden]="!success">
        <app-alert></app-alert>
      </div>

    </section>

  </div>
</div>


<ng-template #abandonContent class="change-email" let-modal>
  <div class="inner-modal">
    <div class="modal-header">
      <h3 class="modal-title text-center">Abandon photo critique</h3>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <img src="assets/images/temp/ui-cross.svg" alt="">
      </button>
    </div>
    <div class="modal-body text-center">
      <p>
        Are you sure you want to abandon this photo critique? You will lose all of the information which you have
        added
        so far.
      </p>

      <div class="btn-cntr text-center">
        <a class="cancel" (click)="modal.dismiss('Close click')">Stay</a>
        <a class="btn btn-danger" (click)="modal.close('Ok click')">Yes, abandon</a>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #contentDelete class="change-email" let-modal>
  <div class="inner-modal">
    <div class="modal-header">
      <h3 class="modal-title">Delete photo</h3>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <img src="assets/images/temp/ui-cross.svg" alt="">
      </button>
    </div>
    <div class="modal-body text-center">
      <p>
        Are you sure you want to delete this photo?
      </p>
      <div class="btn-cntr text-center">
        <a class="cancel" (click)="modal.dismiss('Close click')">Cancel</a>
        <a class="btn btn-danger" (click)="modal.close('Ok click')">Yes, delete</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentCamDetails class="modal-md" let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="user-cntr">
        <div class="img"><img src="{{data?.user_photo}}" alt=""></div>
        <div class="txt">
          <h3 class="sub-title">{{ data?.name }}</h3>
          @{{ data?.username }}
        </div>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <img src="assets/images/temp/ui-cross.svg" alt="">
      </button>
    </div>
    <div class="modal-body">
      <div class="photo-details-pop-cnt">
        <h3>{{ data?.title }}</h3>
        <ul>
          <li class="row">
            <div class="col-md-4 col-6 mb-32">
              <h4>Published</h4>
              {{ getDates(data?.created_at) }}
            </div>
            <div class="col-md-4 col-6 mb-32">
              <h4>Camera</h4>
              {{ data?.camera }}
            </div>
            <div class="col-md-4 col-6 mb-32">
              <h4>Focal length</h4>
              {{ data?.focal_length }}
            </div>
            <div class="col-md-4 col-6">
              <h4>Shutter speed</h4>
              {{ data?.shutter_speed }}
            </div>
            <div class="col-md-4 col-6">
              <h4>ISO</h4>
              {{ data?.iso }}
            </div>
            <div class="col-md-4 col-6">
              <h4>Aperture</h4>
              {{ data?.aperture }}
            </div>
          </li>
          <li class="row">
            <div class="col-md-12">
              <h4>Location</h4>
              {{ data?.location }}
            </div>
          </li>
          <li class="row">
            <div class="col-md-12">
              <h4>Color pallete</h4>
              <ul class="color-list">
                <li *ngFor="let color of colorPalate"
                  [style.background-color]="'rgb(' + color.r + ','+ color.g+','+ color.b+')'"></li>
              </ul>
            </div>
          </li>
          <li class="row">
            <div class="col-md-12">
              <h4>Tags</h4>
              <ul class="tags-list">
                <li class="cursor" (click)="routeTags(tag,'tags')" *ngFor="let tag of data?.tags">
                  {{ tag }}</li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</ng-template>
<ng-template #likeContent>Liked by you</ng-template>
<ng-template #unlikeContent>Give a little love</ng-template>
